.formulario {

  width: 100%;
  background: #ffffff;
  background-size: cover;
  width: calc(1200px - 40px);
  height: calc(100%);
  margin: 50px 0px 100px 0px;
  padding: 20px;
  position: relative;
  font-family: beckman;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 26px;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01),
    0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09),
    0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border: 4px solid #004643;

}

.tituloFormulario {

  text-align: center;
  font-size: 40px;
  margin: 0px 0px 20px 0px;

}

.linhaDecorativa {

  width: 100%;
  height: 4px;
  background-color: #f2f2f2;

}

.inputs_container {

  display: flex;
  justify-content: space-between;
  gap: 40px;

}

.input_container {

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  flex: 1;
  margin: 30px 0px;

}

.input {

  width: calc(100% - 32px);
  background-color: #f2f2f2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  padding: 16px;
  border-radius: 9px;
  outline: none;
  font-size: 20px;

}

.inputSelecionar {

  width: calc(100%);
  background-color: #f2f2f2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  padding: 16px;
  border-radius: 9px;
  outline: none;
  font-size: 20px;

}

.inputRange {

  width: calc(100%);
  height: 55px;

}

.inputColor {

  width: calc(100%);
  height: 55px;
  border-radius: 9px;
  padding: 6px 10px;

}

.continerBotoesFormulario {

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.baixarImagem {
    
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #f4f4f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px;
  width: 300px;
  margin:  50px auto 25px auto;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);  

}

.limparFormulario {

  position: absolute;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #f4f4f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px;
  width: 300px;
  margin:  50px auto 25px auto;
  background-image: linear-gradient(163deg, #a00000fa 0%, #d10050 100%);
  color: rgb(255, 255, 255); 
  bottom: 18.7px;

}

.limparFormulario:hover {
   
  color: #272727;
  border-radius: 5px;
  background-image: linear-gradient(163deg, #690000fa 0%, #940039 100%);
  color: rgb(255, 140, 0);

}
  
  .baixarImagem:hover {
   
  color: #272727;
  border-radius: 5px;
  background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
  color: rgb(0, 255, 200);

}

.textoInformativo {

  color: #8B8E98;
  font-size: 12px;

}

.botaoExcluirImagem {

  position: absolute;
  top: 10px;
  right: 10px;

}

@media (max-width: 1800px) {

  .formulario {

    width: calc(60% - 40px);
  
  }

  .continerBotoesFormulario {

    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .baixarImagem {
      
    position: relative;
    margin:  auto auto auto auto;
  
  }

  .limparFormulario {

    position: relative;
    margin:  auto auto auto auto;
    margin-top: 40px;
    
  }

}

@media (max-width: 1080px) {

  .formulario {

    width: calc(80% - 40px);
  
  }

  .continerBotoesFormulario {

    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

}

@media (max-width: 700px) {

  .formulario {

    width: calc(90% - 40px);
  
  }

  .tituloFormulario {

    text-align: center;
    font-size: 20px;
    margin: 0px 0px 20px 0px;
  
  }

  .inputs_container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  
  }

  .limparFormulario {

    width: 90%;
    font-size: 12px;
    padding: 5px 15px;
    
  }

  .baixarImagem {
      
    width: 90%;
    font-size: 12px;
    padding: 5px 15px;

  }

  label {

    font-size: 12px;

  }

  .input {

    font-size: 12px;
  
  }

}
  
  