@font-face {
    font-family: 'beckman'; 
    src: url('/arquivos/Fontes/beckman-free.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal;  
}

.conteudo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  50px 0px;
    z-index: 2;
    
}

.fundoDaPagina {

    position: fixed;
    z-index: -1;
 


}


