.Linha {
    width: 100%;
    height: 10px;
    background: #004643;
    border-radius: 50px;
    overflow: hidden;
  }
  
  @keyframes moveLeftRight {
    0% {
      transform: translateX(calc(-100%));
    }
  
    50% {
      transform: translateX(calc(150%));
    }
  
    100% {
      transform: translateX(calc(-100%));
    }
  }